* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-image: url(images/background.png); }

.main {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  фон-цвет: #f2f4f3;
  -в WebKit-коробке-тень: 0 0 50пикселей 10пикселей #cecece;
          коробка-тени: 0 0 50пикселей 10пикселей #cecece;
  обивка: 0 0 50пикселей 0; }
  .главное-фантик {
    дисплей: -в WebKit-коробке;
    дисплей: -МС-основе;
    дисплей: флекс;
    -в WebKit-коробке-упаковке: центр;
        -МС-флекс-пакета: центр;
            оправдать-содержание: центр;
    маржа-топ: 15Пикс.; }

.заголовок {
  обивка: 50РХ 0;
  фон-цвет: #ФФФ;
  ширина: 100%;
  границы-радиус: 10пикселей;
  шрифт-размер: 32Пикс.;
  текст-выровняйте: центр;
  шрифт-вес: 600; }

.студент {
  позиция: относительная;
  наценка: 80РХ 0;
  ширина: 100%;
  фон-цвет: #ФФФ;
  обивка: 50РХ 50пикселей; }
  .ученик:прежде чем {
    содержание: '';
    позицию: абсолютная;
    слева: 0;
    топ: -23Военторга;
    ширина: 100%;
    высота: 25пикселей;
    фонового изображения: URL-адрес(изображений/треугольник.формат PNG);
    фон-повторить: повтор;
    фон-размер: содержать; }
  .студент:после {
    содержание: '';
    позицию: абсолютная;
    слева: 0;
    дно: -22Военторга;
    ширина: 100%;
    высота: 25пикселей;
    фонового изображения: URL-адрес(изображений/треугольник.формат PNG);
    фон-повторить: повтор;
    фон-размер: содержать;
    -webkit-преобразования: поворот(180град);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .student__title {
    font-size: 28px;
    font-weight: 600;
    padding: 5px 0; }
  .student span {
    font-size: 20px;
    padding: 0 50px;
    font-weight: 300; }

.content {
  width: 100%; }
  .content h1 {
    font-size: 35px;
    text-align: center; }
  .content ul {
    list-style: none;
    margin: 25px 0;
    padding: 0 50px; }
    .content ul li {
      margin: 40px 0; }

.work__title {
  font-size: 25px; }
  .work__title:hover {
    text-decoration: underline;
    color: darkred;
    cursor: pointer; }

.work__info {
  display: none;
  width: 100%; }
  .work__info ul {
    list-style: none;
    margin: 25px 0;
    padding: 0 50px;
    text-align: center;
    font-size: 23px; }
    .work__info ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -в WebKit-коробке-Ориент: вертикальная;
      -в WebKit-коробке-направление: нормальное;
          -МС-флекс-направление: колонка;
              флекс-направление: колонка;
      -в WebKit-коробке-выровняйте: центр;
          -МС-флекс-выровняйте: центр;
              выровнять элементы: центр;
      фон-Цвет: белый;
      обивка: 15РХ 0;
      маржа: 0; }
      .работы__информация ул ли это {
        цвет: темно-красный; }
        .работы__информация ул ли а:Ховер {
          текст-украшение: подчеркнуть; }
      .работы__информация по ul li в таблице {
        границы: 2пикселя сплошной темно-красный;
        границы интервал: 0; }
        .работы__информация ул ли таблицу тд, .работы__информация по ul li в таблице тр {
          границы: 1Военторга сплошной темно-красный;
          обивка: 8Пикс.;
          текст-выровняйте: центр; }
        .работы__информация по ul li в таблице трчерез:nth-ребенок(2л) {
          фон-цвет: #f2f4f3; }

.изображения {
  ширина: 600пикселей;
  высота: 350пикселей;
  фонового изображения: URL-адрес(images/yatx4cT5x-M.jpg);
  фон-размер: содержать;
  фон-позиции: центр;
  фон-повторить: нет-повторяю; }
  .Изображения._second {
    фонового изображения: URL-адрес(изображений/uKThDzVpv58.формат JPG); }
  .Изображения._projects {
    фонового изображения: URL-адрес(изображений/Yu1FXWpLYpU.формат JPG); }
  .Изображения._network {
    фонового изображения: URL-адрес(изображений/сети.формат PNG); }
  .Изображения._network-все {
    фонового изображения: URL-адрес(изображений/все.формат PNG); }
